:root {
  --font-primary: 'Kumbh Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
  background: linear-gradient(180deg, hsl(273.5, 74.6%, 66.1%) 0%, hsl(240.5, 73.3%, 64.7%) 100%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 147px 24px 85px;
  max-width: 57.5rem;
  margin: 0 auto;
  min-height: 100vh;
}

.card {
  position: relative;
  width: 100%;
  padding: 132px 24px 48px 24px;
  box-shadow: 0px 50px 50px -20px hsla(260.2, 74.3%, 27.5%, 0.5);
  border-radius: 23px;
  background: hsl(0, 0%, 100%) url(../images/bg-pattern-mobile.svg) no-repeat top center;
}

.woman-mobile {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  height: 180px;
  width: 237px;
}

.box {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

details {
  position: relative;
  border-bottom: 1px solid hsl(240, 4.5%, 91.4%);
  padding-bottom: 19px;
}

details+details {
  margin-top: 19px;
}

details>summary {
  list-style: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (hover: hover) {
  details>summary:hover {
    color: hsl(14, 88%, 65%);
  }
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: hsl(237, 11.8%, 33.3%);
}

details p {
  margin-top: 11px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: hsl(240, 5.9%, 50%);
}

@media (prefers-reduced-motion: reduce) {
  details[open] summary~* {
    animation: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  details[open] summary~* {
    animation: slideDown 0.5s ease-in-out forwards;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-11px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

details[open]>summary {
  font-weight: 700;
  color: hsl(237.5, 28.6%, 16.5%);
}

details summary::after {
  content: url(../images/icon-arrow-down.svg);
  position: absolute;
  top: 0;
  right: 0;
}

details[open] summary::after {
  transform: rotate(180deg);
}

@media (min-width: 64em) {
  
  .woman-mobile {
    display: none;
  }

  .box {
    display: inline;
  }

  .wrapper {
    width: 57.5rem;
    padding: 0;
  }

  .card {
    display: flex;
    justify-content: space-between;
    min-height: 31.8125rem;
    padding: 60px 95px 80px 0;
    background: hsl(0, 0%, 100%) url(../images/bg-pattern-desktop.svg) no-repeat bottom 31% left -576px;
  }

  .backgrounds {
    flex-basis: 24.375rem;
  }

  .card section {
    flex-basis: 21.875rem;
  }

  .backgrounds {
    background: url(../images/illustration-woman-online-desktop.svg) no-repeat top 50% left -84px;
  }

  .box {
    position: relative;
    top: 38.5%;
    left: -95px;
  }

  h1 {
    text-align: left;
  }

  summary {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  details summary::after {
    right: 15px;
  }

}